# Backend Environment Variables
PORT=3000
FRONTEND_URL=http://localhost:3001
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=Ali5ha
DB_NAME=estore

# eSewa Configuration (Sandbox by default)
ESEWA_MERCHANT_ID=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_SUCCESS_URL=http://localhost:3001/checkout/success
ESEWA_FAILURE_URL=http://localhost:3001/checkout/failure

# Email Configuration
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
